body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.5);
}
